.blog-post-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 820px;
    height: 320px;
    padding: 30px 0px 30px 15px;
    border: 1px solid black;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-style: hidden;
    box-shadow: 5px 5px 25px 25px rgba(0,0,0,0.03) ;
    border-radius: 8px;
}
.blog-post-main .blog-post-image img{
    width: 350px;
    height: 300px;
    border-radius: 5px;
}
.blog-post-main .blog-post-content{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    
}
.blog-post-main .blog-post-content h5{
    border: 1px solid black;
    width: 150px;
    height: 20px;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    border-style: hidden;
    background-color: rgb(243, 237, 237);
    border-radius: 8px;
    color: rgba(0,0,0,0.6);
}
.blog-post-main .blog-post-content h5:hover{
    background-color: rgba(0,0,0,0.3);
    color: white;
    cursor: pointer;
}
.blog-post-main .blog-post-content h3{
    font-size: 22px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    color: rgba(0,0,0,0.8);
}
.blog-post-main .blog-post-content h3:hover{
    text-decoration: underline;
    cursor: pointer;
}
.blog-post-main .blog-post-content p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(0,0,0,0.6);
    font-size: 16px;

}
.blog-post-main .blog-post-content .user-details{
    display: flex;
    justify-content: center;
    align-items: center;
   align-items: center;
   width: 200px;
   height: 60px;
   margin-bottom: 10px;
}

.icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: white; 
    border-radius: 50%; 
    font-size: 24px; 
  }
  .username{
    margin-left: 10px;
  }
  .username p:first-of-type{
        font-weight: bold;
        color: rgba(0,0,0,0.4);
  }
  .username p:first-of-type:hover{
    color: #83abd5;
    cursor: pointer;
  }
  .username p:last-of-type{
    color: rgba(0,0,0,0.3);
    cursor: pointer;
  }

  body.dark-mode .blog-post-main .blog-post-content h5{
    background-color: hsl(216, 15%, 52%) ;
  }
  body.dark-mode .blog-post-main .blog-post-content h3 {
    color: hsl(210, 38%, 95%);
  }
  body.dark-mode .blog-post-main .blog-post-content p{
    color: hsl(211, 25%, 84%);
  }