.header-main{
    margin: 0;
    padding: 0;
}
.header-main .header-content{
    width: 100%;
   
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-main .header-content .header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-main .header-content .header-logo label{
    font-size: 1.6rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    
}
.header-main .header-content .header-list{
    display: flex;
    align-items: center;
}

.header-main .header-content .header-list ul{
    display: flex;
    align-items: center;
}
.header-main .header-content .header-list ul li{
    list-style-type: none;
    margin: 15px;
}
.header-main .header-content .header-list ul li a{
    text-decoration: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3rem;
    font-weight: 900;
    color: rgba(0,0,0,0.6);
}
body.dark-mode .header-main .header-content .header-list ul li a{
    color: white;
}
body.dark-mode {
    background-color: #2f2d2d;
    color: #ffffff;
  }
  
  body.dark-mode a {
    color: #bb86fc;
  }
  
