.main-blog {
  display: flex;
  flex-direction: column;
  
}

.main-blog .list-block-section .intro-section{
  width: 100%;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  
}
.main-blog .list-block-section .intro-section .main-intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.main-blog .list-block-section .intro-section .main-intro h1{
  font-size: 3.4rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgba(0,0,0,0.8);
  font-weight: 900;
  margin: 0;
}
.main-blog .list-block-section .intro-section .main-intro h2{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgba(0,0,0,0.6);
}
.main-blog .list-block-section .intro-section .main-intro .intro-button button{
  width: 150px;
  height: 50px;
  margin: 20px;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 30px;
}
.main-blog .list-block-section .intro-section .main-intro .intro-button button:first-of-type {
  background-color: #4180f3;
  border-style: hidden;
  color: white;
  cursor: pointer;
}
.main-blog .list-block-section .intro-section .main-intro .intro-button button:last-of-type{
  color: dimgray;
  border: 3px solid dimgray ;
  cursor: pointer;
}
.main-blog .list-block-section .intro-section .main-intro h1 span{
  color:#4180f3;
}
.main-blog .list-block-section .intro-section .intro-image{
  
  width: 570px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../public/images/pattern.png);
}
.main-blog .list-block-section .intro-section .intro-image .image-container{
  border: 1px solid black;
  box-sizing: border-box;
  box-shadow: 5px 5px 20px 10px rgba(0,0,0,0.09);
  border-style: hidden;
  background-color:rgb(228, 218, 218);
  width: 320px;
  height: 350px;
  border-radius: 50%;
}
.main-blog .list-block-section .intro-section .intro-image .image-container img{
  width: 320px;
  height: 330px;
  border-radius: 50%;
  position: relative;
  bottom: 5px;
}



.main-blog .main-content{
  padding-top: 50px;
  display: flex;
 justify-content: space-evenly;
  width: 100%;
  background-color:rgb(255, 247, 250);
}


body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode a {
  color: #bb86fc;
}

body.dark-mode .header-main {
  background-color: hsl(218, 23%, 23%);
  color: white;
}

body.dark-mode .main-blog {
  background-color: hsl(218, 23%, 23%)
}


body.dark-mode button {
  background-color: #333333;
  color: #ffffff;
}

body.dark-mode img {
  filter: brightness(80%);
}
body.dark-mode .main-content {
  background-color: hsl(220, 26%, 14%); 
  color: #ffffff; 
}
body.dark-mode .main-content .blog-post-main{
    background-color: hsl(218, 23%, 23%);
    color: white;
}
body.dark-mode .main-content .blog-post-content h5{
 
  color: white;
}
body.dark-mode .main-blog .list-block-section .intro-section .main-intro h1{
  color: white;
}
body.dark-mode .main-blog .list-block-section .intro-section .main-intro h1 span{
  color: #4180f3;
}
body.dark-mode .main-blog .list-block-section .intro-section .main-intro h2{
  color: white;
}
body.dark-mode .main-blog .list-block-section .intro-section .intro-image .image-container{
  background-color: hsl(216, 15%, 52%);
}
body.dark-mode .main-blog .list-block-section .intro-section .main-intro .intro-button button:last-of-type{
  background-color: hsl(218, 23%, 23%);
  color: hsl(210, 38%, 95%);
  border-color: hsl(210, 38%, 95%) ;
}
body.dark-mode .main-blog .list-block-section .intro-section .main-intro .intro-button button:last-of-type:hover{
  border-color: #4180f3;
}
body.dark-mode .main-blog .list-block-section .intro-section .main-intro .intro-button button:first-of-type:hover{
background-color: hsl(210, 38%, 95%);
color: #333333;
}